@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Rubik+One);
body {
    background-color: #303030;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}

input,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    margin: 0;
    padding: 0px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 ::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

 ::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}


html {
    -webkit-text-size-adjust: none;
}

.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    transition: text-shadow 0.3s ease-in 0s, color 0.3s ease-in 0s;
    text-shadow: 2px 2px 0px #F9BD28;
}

h1,
h2 {
    font-size: 25px;
    line-height: 25px;
}

h3,
h4 {
    font-size: 20px;
    line-height: 20px;
}

h5,
h6 {
    font-size: 16px;
    line-height: 16px;
}

p {
    margin: 10px 0;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.post {}

.post:after,
.post:before,
article:after,
article:before,
section:after,
section:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after,
.clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.bg-theme {
    background: #2D88CF;
}



html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #f4f4f4;
    color: #3F3F3F;
    font-family: "Oswald", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

body .wrap-body {}



.top {
    background: #FFCD02;
    color: #333;
    padding: 7px 0;
    font-size: 13px;
}

.top i.fa {
    font-size: 18px;
    margin-right: 4px;
    line-height: 1.2
}

.top span {
    margin-right: 10px;
}

header {
    background-color: #f7f7f7;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px dashed #ccc;
}

header .wrap-header {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    font-size: 35px;
    letter-spacing: .3em;
}



#container {}

#container .wrap-container {}

.sub-page {
    margin-top: 30px;
}




.container-box {
    display: flex;
    flex-direction: column;
    background-image: url(../images/box-style-2.jpg);
    background-repeat: no-repeat;
    padding: 50px 0;
    margin: 0 auto;
}

.container-box .title {
    margin-bottom: 70px;
    color: #fff;
    text-transform: uppercase
}

.container-box .title h2 {
    color: #FFCD02;
    font-family: rubik one;
    font-size: 60px;
    line-height: 1.2;
}

.container-box .title h2 span {
    font-size: 48px;
    font-family: "Oswald", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #fff;
    line-height: 1.5;
}

.container-box .sub-title {
    background: #CB0001;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
}

.container-box .sub-title h2 {
    color: #fff;
    font-size: 20px;
}

.content-box.box-style-1 {
    background: #F4F4F4;
}

.content-box.box-style-3 {
    background: url(../images/box-style-3.png) repeat;
}




#main-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#main-content .wrap-box {
    padding: 30px 0px;
    position: relative;
}

article {
    margin-bottom: 30px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}

article:after,
article:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

article .art-header {}

article .art-content {
    padding: 30px;
}

article .art-content h3 {
    margin: 0;
    padding: 0;
}

article .art-content blockquote {
    border-left: 3px solid #1c7791;
    font-size: 18px;
    margin: 0 50px;
    font-style: italic;
    color: #666;
    padding-left: 20px;
}

article .art-content ol {
    float: left;
    text-align: justify;
    margin: 10px 50px;
    font-size: 16px;
    list-style-type: circle;
}

article .excerpt {
    border-bottom: 1px dashed #aaa;
    border-top: 1px dashed #aaa;
    margin: 20px 0;
}

article .excerpt p {
    color: #888;
}

article .entry-title {
    margin: 0 0 20px;
    text-align: center;
}

article h1.entry-title {
    line-height: 1.2;
    font-size: 38px;
}

.info {
    margin: 7px 0 15px;
}

.info a {
    text-shadow: none;
}

.info a:hover {
    color: #FFCD02;
}




#sidebar {}

#sidebar .wrap-sidebar {
    margin: 0px 10px;
}

.widget {
    background: #fff;
    padding: 10px 30px;
    margin: 0 0px 30px 0px;
    border-bottom: 1px dashed #ccc;
}

.widget ul li {
    line-height: 2.8;
    border-bottom: 2px solid #DDD;
}

.widget:after,
.widget:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.widget .wid-header {}

.widget .wid-header h5 {
    display: inline-block;
    padding: 20px 10px 20px 0;
    margin-bottom: -4px;
    font-size: 23px;
}

.widget .wid-content {
    padding: 10px 0;
}

.widget.wid-about {}

.widget.wid-post {}

.widget.wid-gallery {}

.widget.wid-gallery img {
    margin: 0 10px 10px 0;
    max-width: 137px;
}

.widget.wid-archive {}

.widget.wid-archive select {
    margin: 5px 0;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    background-color: #e9e9e9;
    color: #777777;
    border: none;
}

.widget.wid-meta {}

.widget.wid-meta ul li {
    font-size: 16px;
}

.widget.wid-related {
    background-color: #fff;
}

.widget.wid-related img {
    max-width: 243px;
    width: 100%;
    border: 1px solid #DDD;
}

.widget.wid-related h4 {
    margin-top: 10px;
}

.contact-header {
    background-color: #FFCD02;
    padding: 15px 20px;
}

.contact-header h5 {
    font-size: 17px;
    color: #333;
    text-transform: uppercase;
}

.post:after,
.post:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.post img {
    float: left;
    margin: 15px 10px;
    width: 100px;
}

.post .wrapper {
    vertical-align: middle;
    text-align: left;
    line-height: 1.4em;
    padding-bottom: 7px;
    margin-top: 20px;
    display: inline-block;
}

.post .wrapper span {
    font-size: 17px;
    line-height: 3;
}



footer {
    background: url(../images/footer-bg.png) repeat #111;
    color: #666;
    padding: 50px 0 20px;
}

footer h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
}

footer a {
    color: #92907C;
}

footer a:hover,
.copyright a:hover {
    color: #fff;
}

footer .top-footer {
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
    text-align: center;
}

footer .top-footer img {
    margin-bottom: 10px;
}

footer .wrap-footer {
    color: #92907C;
    padding: 30px 0 50px;
}

footer .wrap-footer ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid #555;
    padding: 10px 0 15px;
}

footer .logo img {
    max-width: 170px;
    margin-top: 30px;
}

footer .col-footer-1 {}

footer .col-footer-2 {}

footer .col-footer-3 img {
    padding: 5px;
    border: 1px solid #555;
    margin-bottom: 20px;
}

footer .col-footer-4 span {
    display: block;
    margin-bottom: 20px;
}

footer .col-footer-4 span i.fa {
    line-height: 1.2;
    font-size: 23px;
    margin-right: 15px;
}

footer .logo {
    top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.copyright {
    background: #151515;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    color: #999;
}

.copyright .wrapper {
    padding: 20px;
}

.copyright ul.quick-link {
    float: right;
}

.copyright ul.quick-link li {
    display: inline-block;
    margin-right: 10px;
}

.copyright a {
    color: #434343;
}

@media all and (max-width: 768px) {
    .copyright {
        text-align: center;
    }
    .copyright ul.quick-link {
        float: none;
        margin-top: 10px;
    }
}



a.button {
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    background: #303030;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff;
}

a.button:hover {
    opacity: 0.9;
}

a.button.bt1 {
    background: #FFCD02;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

a.button.bt1:hover {
    background: #333;
    color: #FFCD02;
}

a.button.bt2 {
    background: #0000ff;
    color: #ffffff;
}




.contact h2 {}

#contact_form {
    padding: 10px 25px 25px;
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

#ff label {
    cursor: pointer;
    display: block;
    font-weight: bold;
}

#ff input {
    display: block;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #000;
    border: 1px solid #AFAFAF;
    padding: 12px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    max-height: 45px;
}

#ff textarea {
    display: block;
    width: 100%;
    height: 183px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    color: #000;
    border: 1px solid #AFAFAF;
    padding: 10px;
    margin: 5px 0 25px 0;
}

#ff .sendButton {
    cursor: pointer;
    background-color: transparent;
    width: 15%;
    color: #333;
    border: 3px solid #333;
    color: #333;
    font-size: 20px;
    padding: 8px 0 10px;
}

#ff .sendButton:hover {
    background: #FFCD02;
    border: 3px solid #FFCD02;
}

.maps {
    margin: 10px 0 20px;
}



#subcribe {
    margin: 10px;
}

#subcribe input[type="text"] {
    background: #fff;
    color: #867B6E;
    width: 200px;
    padding: 16px;
}

#subcribe input[type="submit"] {
    background: #303030;
    padding: 16px;
    color: #ffffff;
    cursor: pointer;
    width: 110px;
    outline: none;
}



.item {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.item .item-content {
    padding: 20px;
    color: #787878;
    font-size: 14px;
}

.item .item-info h3 {
    font-size: 16px;
}

.item .item-container {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item .item-container img {
    display: block;
    width: 100%;
    height: auto;
}

.item .item-container .item-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    background: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -moz-transition: all .5s ease;
    /* Firefox */
    -ms-transition: all .5s ease;
    /* IE 9 */
    -o-transition: all .5s ease;
    /* Opera */
    transition: all .5s ease;
}

.item .item-caption-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.item .item-caption-inner1 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.item-container .item-caption span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: none;
    font-style: italic;
    font-size: 12px;
}

.item-container .item-caption span i.fa {
    width: 45px;
    height: 45px;
    background: #fff;
    margin-right: 10px;
    border-radius: 50%;
    color: #333;
    font-size: 23px;
    padding-top: 12px;
    text-shadow: none;
}

.item .item-container:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.item:hover .item-container:before {
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);
}

.item:hover .item-container .item-caption span {
    display: block;
}

.item .item-date-box {
    background: #f8f8f8;
    border: 1px dashed #ccc;
    border-bottom: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 190px;
}

.item .item-date-box h3 {
    font-size: 70px;
    color: #2b2b2b;
    line-height: 1.3;
}

.item .item-date-box span {
    color: #888;
    font-size: 25px;
}



.bg-white {
    background: #fff;
    border-bottom: 1px dashed #ccc;
    padding: 50px;
}

.rslides {}

.callbacks_container {
    z-index: 99;
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .7);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 20px 10px;
    text-align: center;
    margin: 0;
    max-width: none;
}

.callbacks .caption h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.callbacks .caption span {
    font-size: 24px;
}

@media all and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min-resolution: 192dpi) and (max-width: 1024px),
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .callbacks .caption {
        padding: 12px 10px 5px;
    }
    .callbacks .caption h1 {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.2;
    }
    .callbacks .caption span {
        font-size: 12px;
        line-height: 1.2;
    }
}

@media(max-width: 468px) {
    .callbacks .caption {
        display: none;
    }
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}



ul,
ul li,
ul li a,
#menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#menu-button {
    display: none;
}

ul>li {
    float: left;
}

.align-center>ul {
    font-size: 0;
    text-align: center;
}

.align-center>ul>li {
    display: inline-block;
    float: none;
}

.align-center ul ul {
    text-align: left;
}

.align-right>ul>li {
    float: right;
}

ul>li>a {
    padding: 15px 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-right: 10px;
}

ul>li:hover>a {}

ul ul {
    position: absolute;
    left: -9999px;
}

.align-right ul ul {
    text-align: right;
}

ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

li:hover>ul {
    left: auto;
}

.align-right li:hover>ul {
    left: auto;
    right: 0;
}

li:hover>ul>li {
    height: 35px;
}

ul ul ul {
    margin-left: 100%;
    top: 0;
}

.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    background: #3B3B3B;
}

ul ul li:last-child>a,
ul ul li.last-item>a {
    border-bottom: 0;
}

ul ul li:hover>a,
ul ul li a:hover {
    color: #ffffff;
}

@media all and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min-resolution: 192dpi) and (max-width: 1024px),
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    ul {
        width: 100%;
        display: none;
    }
    .align-center>ul {
        text-align: left;
    }
    ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2);
    }
    ul ul li,
    li:hover>ul>li {
        height: auto;
    }
    ul li a,
    ul ul li a {
        width: 100%;
        border-bottom: 0;
        color: #DDDDDD;
    }
    ul>li {
        float: none;
    }
    ul ul li a {
        padding-left: 25px;
    }
    ul ul ul li a {
        padding-left: 35px;
    }
    ul ul li a {
        color: #dddddd;
        background: none;
    }
    ul ul li:hover>a,
    ul ul li.active>a {
        color: #ffffff;
    }
    ul ul,
    ul ul ul,
    .align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    #menu-button {
        display: block;
        padding: 17px;
        color: #dddddd;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #menu-button:after {
        position: absolute;
        top: 22px;
        right: 17px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: '';
    }
    #menu-button:before {
        position: absolute;
        top: 16px;
        right: 17px;
        display: block;
        height: 2px;
        width: 20px;
        background: #dddddd;
        content: '';
    }
    #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #menu-button.menu-opened:before {
        top: 23px;
        background: #ffffff;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer;
    }
    .submenu-button.submenu-opened {
        background: #262626;
    }
    ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }
    .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }
    ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }
    .submenu-button.submenu-opened:after {
        background: #ffffff;
    }
    .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
    }
    ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }
    .submenu-button.submenu-opened:before {
        display: none;
    }
}

.footer {
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.wrap-col {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3) inset;
}

.slider-track {
    display: flex;
    transition: 1s;
    flex-direction: column;
    position: relative;
    height: 650px;
    width: 100%;
}

.slider-item {
    position: absolute;
    height: 650px;
    width: 100%;
    object-fit: cover;
    filter: brightness(.5);
    z-index: 3;
}

.slider-visible {
    opacity: 1;
    transition: .5s;
}

.slider-hidden {
    opacity: 0;
    transition: .5s;
}

.controls {
    height: 650px;
    width: 80px;
    font-size: 50px;
    position: absolute;
    top: 0;
    z-index: 5;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left {
    background: linear-gradient(to right, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    left: 0;
}

.right {
    background: linear-gradient(to left, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    right: 0;
}

.container {
    background: transparent;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto;
    justify-content: space-around;
}

.card {
    display: flex;
    background: transparent;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    text-decoration: none;
    transition: .3s;
    margin: 15px 0;
}

.card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    transition: .5s;
}

.card__cover {
    height: 150px;
    width: 100%;
}

.card__content {
    padding: 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview__content {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.type__content {
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 700;
}

.title__content {
    font-size: 21px;
}

.time__content {
    font-size: 15px;
    text-transform: uppercase;
}

.title__back {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 50%;
    transform: translate(-45%, -100%);
    font-size: 70px;
    letter-spacing: .4em;
    width: 100%;
    color: rgba(153, 153, 153, 0.15);
}

.title__front {
    font-size: 55px;
    z-index: 5;
}

.top__wrap {
    margin-top: 100px;
}

.bottom__wrap {
    margin-bottom: 100px;
}

.masonry {
    column-count: 3;
    column-gap: 2em;
    column-count: 3;
    column-gap: 2em;
}

.masonry .item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    background-color: #eee;
}

.card__header {
    height: 25px;
    background-color: crimson;
    border-radius: 0px 0 0 0px;
}

.welcome__title {
    color: #FFCD02;
    width: 75%;
    font-size: 50px;
}

.welcome__text {
    font-size: 25px;
    width: 75%;
    color: #fff;
}

.info-list {
    list-style: none;
    font-family: "Lucida Sans";
    width: 80%;
    margin: 80px 0;
}

.info-list li {
    position: relative;
    padding: 20px 0 20px 40px;
    color: #000;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.info-list li:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #F9BD28;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}

.info-list li:after {
    position: absolute;
    border-left: 1px dotted #F9BD28;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
    top: 48px;
}

.info-list li:hover:before {
    box-shadow: 0 0 0 10px #f9be2834;
}

.info-list li:last-child:after {
    content: none;
}

.card__content input {
    margin: 10px 0;
    width: 80%;
    padding: 8px 10px;
    color: #000;
}

.card__content textarea {
    margin: 10px 0;
    width: 80%;
    padding: 8px 10px;
    color: #000;
}

.card__content input[type='button'] {
    margin: 10px 0;
    width: 80%;
    padding: 8px 10px;
    color: #fff;
    background-color: #F9BD28;
}

.card__content .welcome__text {
    color: #F9BD28;
}

.project {
    
    align-items: start;
    display: flex;
}

.container__media {
    margin-right: 16px;
   
    width: 200px;
}

.container__content {
  
    flex: 1;
}

.preview {
    width: 400px;
    height: 180px;
}